.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.flex-container {
  display: flex;
 
  height:100vh;
  align-items: stretch;
  background-color:black;
}

.leftcontext{
  background-color:black;
  color:white;
}
button{
  width: 240px;
  
}
.ancho240{
  width: 240px;
  
}

.black{
  color:black;
}
.backBlack{
  background-color:black;
}

.fullWidth{
  width: 100%;
 
 
} 

.rightcontext {
  background-color:white;
  color: white;
 
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  
}

.flex-container2 > div {

  color:black;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
